// justify, align, flexD
@mixin displayFlex(
  $justifyContent: initial,
  $alignItems: initial,
  $flexDirection: initial
) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}
