// font
$primaryFont: (
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Oxygen",
  "Ubuntu",
  "Cantarell",
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif
);

// background
$primaryBackgroundColor: #eff2f5;
$secondayBackgroundColor: #dddddd;

// color
$primaryColor: black;
$secondaryColor: #686868;
