@import "./styles/variables";
@import "./styles/mixins";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primaryBackgroundColor;
  color: $primaryColor;
}

.app {
  @include displayFlex(space-evenly);
  padding: 20px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;

    &__left {
      flex: 0.9;
    }
  }
}
